---
import { siteConfig } from "../../site.config";
---

<footer class="site-footer" data-pagefind-ignore>
  <div class="footer-inner">
    <p>© 2026 {siteConfig.author}. 永远保持一颗学徒的心！</p>
    <div class="footer-links">
      <a href={siteConfig.github} target="_blank" rel="noreferrer">GitHub</a>
      <a href="/rss.xml">RSS</a>
    </div>
  </div>
</footer>
